<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', {title: 'Profile'}) %>
<body>
    <%- include('partials/header') %>
    <main class="main-profile">
        <h3>Hi <%=  user.fullName %>!</h3>
        <div class="div-avatar">
            <img src="/img/avatars/<%= user.avatar %>" alt="" class="user-image">
        </div>
        <div class="div-email-profile">
            <h2><%= user.email %></h2>
        </div>
        <div class="div-edit-profile">
            <a href="/user/edit/<%= user.id %>">EDITAR USUARIO</a>
        </div>
    </main>
    <%- include('partials/footer') %>
</body>
</html>