<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', {title: 'Register'}) %>
<body>
    <%- include('partials/header') %>
    <main id="main-register">
        <!--<% if (locals.errors) { %>
            <% for( let oneError in errors) { %>
              <p> <%= errors[oneError].msg %> </p>
            <% } %>
          <% } %> -->
        <form action="/user/register" method="POST" enctype="multipart/form-data" class="create-form">
            <div class="control-form">
                <label>Nombre Completo</label>
                <input id="nombreCompleto" type="text" name="fullName" class="control" placeholder="Nombre y apellido" value="<%= locals.oldData ? oldData.fullName : null %>">
                <% if (locals.errors && errors.fullName) { %>
                    <div class="text-danger"> <%= errors.fullName.msg %>  </div>
                  <% } %>
            </div>
            <div class="control-form">
                <label>Usuario</label>
                <input id="usuario" type="text" name="userName" class="control" placeholder="Nombre de usuario" value="<%= locals.oldData ? oldData.userName : null %>">
                <% if (locals.errors && errors.userName) { %>
                    <div class="text-danger"> <%= errors.userName.msg %>  </div>
                  <% } %>
            </div>
            <div class="control-form">
                <label for="fechaNacimiento">Fecha de Nacimiento</label>
                <input id="fechaNacimiento" type="date" name="date" class="control">
                <% if (locals.errors && errors.date) { %>
                    <div class="text-danger"> <%= errors.date.msg %>  </div>
                  <% } %>
            </div>
            <div class="control-form">
                <label for="text">Domicilio</label>
                <input id="domicilio" type="text" name="address" class="control" placeholder="Ingrese su domicilio" value="<%= locals.oldData ? oldData.address : null %>">
                <% if (locals.errors && errors.address) { %>
                    <div class="text-danger"> <%= errors.address.msg %>  </div>
                  <% } %>
            </div>
            <div class="control-form">
                <label>Perfil del Usuario</label>
                <%
                    let profiles =['Comprador','Vendedor']
                %> 
                <% for( oneProfile of profiles) { %>
                    <input type="radio" name="profile" value="<%= oneProfile %>" <%= locals.oldData && (oneProfile === oldData.profile) ? 'checked' : null %> > <%= oneProfile %>
                <% } %>
                <% if (locals.errors && errors.profile) { %>
                    <div class="text-danger"> <%= errors.profile.msg %>  </div>
                  <% } %>
            </div>
            <div class="control-form">
                <label>Intereses</label>
                <% 
                    let categories = ['Electro','Moda','Hogar','Jugueteria','Vida Sana']
                %> 
                <% for( oneCategory of categories) { %>
                    <input type="checkbox" name="category" value="<%= oneCategory %>" <%= locals.oldData && (oneCategory === oldData.category) ? 'checked' : null %> ><%= oneCategory %> <label></label>
                <% } %>
                <% if (locals.errors && errors.category) { %>
                    <div class="text-danger"> <%= errors.category.msg %>  </div>
                  <% } %>
            </div>
            <div class="control-form">
                <label>Elegí una foto de usuario</label>
                <input type="file"  name="avatar">
                <% if (locals.errors && errors.avatar) { %>
                    <div class="text-danger"> <%= errors.avatar.msg %>  </div>
                  <% } %>
            </div>
            <div class="control-form">
                <label>Email</label>
                <input type="text" name="email" placeholder="Ingrese un Email" class="control" value="<%= locals.oldData ? oldData.email : null %>">
                <% if (locals.errors && errors.email) { %>
                    <div class="text-danger"> <%= errors.email.msg %>  </div>
                  <% } %>
            </div>
            <div class="control-form">
                <label>Contraseña</label>
                <input type="password" name="password" placeholder="Ingrese una contraseña" class="control" >
                <% if (locals.errors && errors.password) { %>
                    <div class="text-danger"> <%= errors.password.msg %>  </div>
                  <% } %>
            </div>
            <div class="div-button-register">
                <button type="submit" class="button-form">Enviar</button>
                <button type="reset" class="button-form">Borrar</button>
            </div>
        </form>
    </main>
    <%- include('partials/footer') %>
</body>
</html>